.Add-product {
    width: 80%;
    padding: 10px ;
    background-color: #423524;
    justify-content: center;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 1.0rem;
    transition: 0.8s;
    opacity: .8;
    text-align: center;
}

.Add-product a {
    color: #fff;
    text-decoration: none;
    display: block;
}