*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

#container-products-seller{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #f5f5f5;
}

#product-screen-seller{
    display: flex;
    justify-content: center;
    align-items: center;
}