#container-stock-product{
  max-width: 800px;
  width: 100%;
  border: 2px solid #916224;
  border-radius: 20px;
  padding: 30px 30px;
    
}

#container-stock-product h3{
    margin-bottom: 20px;
}

.structure-stock{
     display: flex;
    flex-direction: column;
}

.structure-stock label{
    font-size: 0.9rem;
    color: #916224;
}

.structure-stock input{
    padding: 10px 10px;
    border-radius: 10px;
    border: 2px solid #916224;
    width: 300px;
}
