.card-resumo-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card-resumo {
  width: 250px;
  border-radius: 12px;
  padding: 18px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  gap: 15px;
  align-items: center;
  transition: 0.2s ease;
}

.card-resumo:hover {
  transform: translateY(-3px);
}

.card-resumo-title {
  font-size: 0.85rem;
  color: #777;
}

.card-resumo-value {
  font-size: 1.2rem;
  font-weight: bold;
  color: #222;
}
