

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}



.container-home {
  min-height: 100vh;
  background-color: #fff;
}


#teste{
    font-size: 30px;
}

