*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container-Exchange{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #fff;
    
}

#conatiner-ExchangeReturnPolicy{
    padding: 30px;
    margin-bottom: 100px;
   

    
}
#conatiner-ExchangeReturnPolicy {
    display: flex;
   flex-direction: column;
   align-items: center;

}


#conatiner-ExchangeReturnPolicy p{
    margin-top: 40px;
    font-size: 1.3rem;
    font-weight: bold;

}
#conatiner-ExchangeReturnPolicy h1{
    color: #0b14c8;

}

#conatiner-ExchangeReturnPolicy img{
 width: 200px;
 color: #0b14c8;
}