*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


#Container-SelectionProductsSeller{
    display: grid;
    align-items: center;
    padding: 40px 
}

#Container-SelectionProductsSeller h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #423524;
}

#structure-SelectionProductsSeller{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    justify-items: center;
    gap: 50px;
    padding: 0 40px;    
}

.ProductsSeller {
    max-width: 300px;
    width: 100%;
    border: 3px solid #bebebe;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    transition: all 0.3s ease;
    margin-bottom: 100px;
}


.ProductsSeller img {
    width: 100%;
    height: 200px; 
    object-fit: contain; 
    margin: 0 auto
}



.ProductsSeller:hover{
    opacity: 1;
    box-shadow: #423524 0px 30px 27px -5px, #423524 0px 8px 40px -8px;
    transition: 0.9s;
}

.ProductsSeller .info-producSeller{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 10px;
    gap:20px; 
}

.info-producSeller p{
    font-weight: bold;
    font-size: 1.7rem;
    
}
.info-producSeller label{
    font-weight: bold;
    font-size: 1.5rem;
}

.ButtonsProduct{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button-buySeller{
    margin-top: 10px;
}

.button-buySeller button{
    cursor: pointer;
}

.buy-productSeller{
     width: 50px;
    padding: 10px;
    justify-content: center;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 1.0rem;
    transition: 0.8s;
    opacity: .9;
} 

.DeleteProduct{
    width: 60px;
    height: 50px;
    padding: 10px;
    justify-content: center;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 1.0rem;
    transition: 0.8s;
    opacity: .7;
}

/* .car-product{
    width: 100%;
    padding: 10px ;
    background-color: #959598;
    color: #0b14c8;
    justify-content: center;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 1.0rem;
    transition: 0.8s;
    opacity: .7;
}  */


button:hover{
    opacity: 1;
    
}


@media (max-width: 1024px) {
  #structure-SelectionProductsSeller {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  #structure-SelectionProductsSeller {
    grid-template-columns: 1fr;
  }
}

.starSeller {
  display: flex;
  align-items: center;
  gap: 4px;
}

