*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

#container-Edit-product {
  min-height: 100vh;
  background-color: #fff;
}

.structure-Edit-product{
    margin: 0 auto;
    padding: 40px 0 ;
    width: 100%;
    max-width:1200px;
}
.structure-Edit-product h2{
    color: #423524;
    text-align: center;
}
.structure-Edit-product p{
    color: #797878;
    font-size: 0.9rem;
    text-align: center;
}
.form-Edit-product{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.testeEdit{
    padding: 0 20px;
    
}

.testeEdit1{
    margin-bottom: 20px;
}


