.cartContainer {
  width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cartItem {
  display: flex;
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.productImage {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 10px;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.itemName {
  font-size: 1.2rem;
  font-weight: bold;
}

.itemColor {
  background: #eee;
  padding: 2px 8px;
  border-radius: 8px;
  font-size: 0.85rem;
}

.rating {
  color: #007bff;
  font-size: 0.9rem;
}

.inStock {
  color: green;
  font-size: 0.85rem;
  font-weight: bold;
}

.quantityBox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.quantityBox button {
  width: 30px;
  height: 30px;
  font-size: 1.1rem;
  background: white;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.quantityBox span {
  font-weight: bold;
  font-size: 1.1rem;
}

.removeBtn {
  background: none;
  border: none;
  color: #c20000;
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.prices {
  text-align: end;
}

.oldPrice {
  text-decoration: line-through;
  font-size: 0.9rem;
  color: #888;
}

.currentPrice {
  color: #03b803;
  font-size: 1.2rem;
}

.cartTotal h2{
  margin-top: 20px;
  font-size: 1.6rem;
  text-align: right;
  color: #03b803;
}
