.buttonFisherCart{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    gap: 30px;
}
.finisherButton{
    background: #0b14c8;
    color: white;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.finisherButton:hover{
    opacity: .9;
    transform: scale(1.04);
}

.cancelButton{
     background: #d40000;
    color: white;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.cancelButton:hover{
    opacity: .9;
    transform: scale(1.04);
}

.modalContainerFinisher {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.25s ease-in-out;
}

.modalFinisher {
  background: #2d2d2d;
  padding: 35px;
  width: 420px;
  min-height: 210px;
  border-radius: 16px;
  box-shadow: 0 8px 28px rgba(0,0,0,0.2);
  text-align: center;
  animation: slideUp 0.25s ease;
}

.modalFinisher h2 {
  font-size: 1.6rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: #FF9800;
}

.buttonFinisher {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buttonSair {
  background: #FF9800;
  color: white;
  border: none;
  width: 60px;
  height: 50px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.buttonSair:hover {
    opacity: .9;
    transform: scale(1.04);
}

/* --- ANIMAÇÕES --- */
@keyframes fadeIn {
  from {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
  to {
    opacity: 1;
    backdrop-filter: blur(4px);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}