*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

#conatiner-product-screen{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #fff;
}

#product-screen{
    display: flex;
    justify-content: center;
    align-items: center;
}