
.logout-button{
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    width: 110px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s ease;
}
.logout-button:hover{
    opacity: 0.8;
}